@import url('./_vars.css');

.friends{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.friends-container{
    width: 100%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:10px;
    justify-content: center;
}