@import url('./_vars.css');

.cards{
    margin:auto;
    width: 100%;
    padding:20px 50px;
    gap:50px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

@media(max-width: 500px){
    .cards{
        padding:20px 10px;
    }
}