@import url('./_vars.css');

.mini-buscador{
display:flex;
gap:10px;
align-items: center;
margin-bottom:20px;
}

.mini-buscador input{
    line-height: 1.5rem;
    outline: none;
    width: 200px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.mini-buscador button{
    padding: 5px 10px;
}