@import url('./_vars.css');

.profilePage__body{
    min-height: calc(100vh - 50px);
    height: fit-content;
    max-width: 100vw;
    background-image: url('../images/perfil-fondo.png');
    display:flex;
    flex-direction: column;
    align-items: center;
}
.profilePage__container{
    margin-bottom:40px;
    width: 75%;

}

@media(max-width: 1050px){
    
    .profilePage__container{
        width: 90%;
    }
}
