@import url('./_vars.css');

.profile__top-container{
    border-bottom: 1px solid transparent;
}

.profile__portada{
    height: 250px;
    width: 100%;
    background-image: url('../images/perfil-superior.png');
}

.profile__info{
    display:flex;
    justify-content: center;
    background: white;
    min-height: 160px;
    display:flex;
    padding-top:10px;
}

.info-container{
    height: fit-content;
}

.profile__bottom-container{
    display:flex;
    justify-content: space-between;
    width: 80%;
}
.profile__avatar-info{
    display:flex;
    gap:10px;
    padding-bottom:10px;
}

.avatar-con-info__container{
    display:flex;
    height: fit-content;
}

.avatar-container{
    position: relative;
    height: 50px;
    width: 80px
}

.avatar-img{
    position: absolute;
    top:-100px;
    left: -30px;
}

.barraExp__container{
    width: 150px;
    height: 10px;
    background-color: var(--lightGrey);
}

.barraExp__barra{
    height: 100%;
    background-color: var(--primaryColor);
    width: 50%;
}

.nombre-estado__container{
    display:flex;
    flex-wrap: wrap;
    gap:5px;   
}

.img-estado{
    object-fit: contain;
}

@media (max-width: 730px){
    .profile__bottom-container{
        flex-direction: column;
        align-items: center;
        gap:10px;
        width: 100%;
    }

    .avatar-con-info__container{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .profile__portada{
        height: 220px;
    }

    .avatar-img{
        left:-20px;
    }
}